<div class="row">
  <div class="col-4 mb-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Edit Profile
    </button>
  </div>
</div>

<div class="my-3">
  <div>add table</div>
  <% @user.posts.each do |post| %>
    <div><%= post.title %></div>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3">
        <%= form_with model: @user, url: account_path, method: :put, id: :update_account do |form| %>
          <% if form.object.errors.any? %>
            <ul>
              <% form.object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div>
            <%= form.label :email, "Current Email", class: "form-label" %>
            <%= form.email_field :email, disabled: true, class: "form-control" %>
          </div>
          <div>
            <%= form.label :unconfirmed_email, "New Email", class: "form-label" %>
            <%= form.text_field :unconfirmed_email, class: "form-control" %>
          </div>
          <div>
            <%= form.label :password, "Password (leave blank if you don't want to change it)", class: "form-label" %>
            <%= form.password_field :password, class: "form-control" %>
          </div>
          <div>
            <%= form.label :password_confirmation, class: "form-label" %>
            <%= form.password_field :password_confirmation, class: "form-control" %>
          </div>
          <hr />
          <div class="mb-3">
            <%= form.label :current_password, "Current password (we need your current password to confirm your changes)", class: "form-label" %>
            <%= form.password_field :current_password, required: true, class: "form-control" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= submit_tag "Update Account", class: "btn btn-primary", form: :update_account %>
      </div>
    </div>
  </div>

</div>
