<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-6 mb-3">
          <%= form.label :published_at, "Published Date", class: 'form-label' %>
          <%= form.text_field :published_at,
                              data: { controller: "flatpickr" },
                              class: 'flatpickr form-control' %>
        </div>

        <div class="col-6 mb-3">
          <%= form.label :is_published, "Status", class: 'form-label' %>
          <%= form.select :is_published,
                          options_for_select([['Published', true], ['Draft', false]], { selected: post.is_published }),
                          {}, { class: 'form-select' } %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <%= form.label :series, "Article Series", class: 'form-label' %>
        <%= form.text_field :series, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: 'form-label' %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="editor" class="my-3" data-controller="editor"></div>
  <%= form.hidden_field :content, value: post.content, id: 'content-input' %>

  <div class="mb-3">
    <% if post.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', post, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if post.persisted? %>
      <%= link_to "Cancel", post, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", posts_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
