<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>Posts</h1>

      <%= tag.div class: "col-sm-6 text-end" do %>
        <%= link_to new_post_path, class: 'btn btn-primary' do %>
          Add New Post
        <% end %>
      <% end if user_signed_in? %>
    </div>

    <div class="">
      <% @posts.each do |post| %>
        <%= content_tag :div, id: dom_id(post), class: dom_class(post) do %>
          <h2>
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
          </h2>
          <div><%= convert_markdown(post.content) %></div>

          <%= tag.div class: "col-sm-6 text-end" do %>
            <%= link_to t("edit_btn"), edit_post_path(post) %>
          <% end if user_signed_in? %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
